<!DOCTYPE html>
<html>
<head>
  <title>Mr. Patricio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "navigation" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
</head>
<body>

<section class='spacer'></section>
<%= render 'navigation' %>
<%= yield %>

<section class='spacer'></section>

<div id='background-credit'>
  <p>
    Background adapted from<br>sweet original work<br>
    by <a href='http://shapesofsweetness.com/'>Corey Thompson</a>.
  </p>
</div>


</body>
</html>
